#pageFooter{
    position: fixed;
    bottom: 0;
    width: 100vw;
background-color: aliceblue;
height: 4rem;
}

.footerNav {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.footerNavClick {
    display: inline-block;
}