.dropDownList {
    list-style: none;
    margin: 0;
}

.dropDownListItem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    font-size: 2rem;
    border-top: .5px solid black;
}

